<button id="btn-signup" class="btn btn-info" data-ng-click="workshop()">Next</button>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            Education Detail
        </div>
        <form name="Eductional" class="form-horizontal" role="form" novalidate>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Tenth Marks
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-ng-model="getData.TenthMarks" placeholder="Please Enter the Tenth Marks" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Tenth Marksheet Link
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control"  data-ng-model="getData.TenthLink" placeholder="Paste the link of marksheet" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Twelth Marks
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-ng-model="getData.TwelthMarks" placeholder="Enter Twelth marks in %" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Twelth Marksheet Link
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control"  data-ng-model="getData.TwelthLink" placeholder="Paste the link of marksheet" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Polytechnic marks
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control"  data-ng-model="getData.PolytechnicMarks" placeholder="Please enter marks in %" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Polytechnic Marksheet Link
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-ng-model="getData.PolytechnicLink" placeholder="Paste the link of marksheet" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    BE Percentage
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control"  data-ng-model="getData.BEPercentage" placeholder="Enter BE %" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Total BackLog
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-ng-model="getData.TotalBacklog" placeholder="Enter the backlogs till date" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Current Backlog
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-ng-model="getData.CurrentBacklog" placeholder="Current Backlog" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    First Sem Marksheet Link
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control"  data-ng-model="getData.FirstSemLink" placeholder="Paste the link of marksheet"  />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Second sem Marksheet Link
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control"  data-ng-model="getData.SecondSemLink" placeholder="Paste the link of marksheet" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Third Sem Marksheet Link
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control"  data-ng-model="getData.ThirdSemLink" placeholder="Paste the link of marksheet" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Forth Sem Marksheet Link
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-ng-model="getData.ForthSemLink" placeholder="Paste the link of marksheet"  />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    FifthSem Marksheet Link
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control"  data-ng-model="getData.FifthSemLinkk" placeholder="Paste the link of marksheet" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Sixth Sem Marksheet Link
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-ng-model="getData.SixthSemLink" placeholder="Paste the link of marksheet" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Seventh Sem Marksheet Link
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control"  data-ng-model="getData.SeventhSemLink" placeholder="Paste the link of marksheet"  />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Eighth Sem Marksheet Link
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control"  data-ng-model="getData.EigthSemLink" placeholder="Paste the link of marksheet" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 contols">
                    <button id="btn-signup"  class="btn btn-info"data-ng-click="insert()">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>