<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            Internship Detail
        </div>
        <form name="Internship" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Technology
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-ng-model="getInternshipDetail.Technology" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Organization
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-ng-model="getInternshipDetail.Organization" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Profile
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-ng-model="getInternshipDetail.Profilee" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Location
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-ng-model="getInternshipDetail.Location" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Start Date
                </label>
                <div class="col-md-9">
                    <input type="date" class="form-control" data-ng-model="getInternshipDetail.StartDate" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    End Date
                </label>
                <div class="col-md-9">
                    <input type="Date" class="form-control" data-ng-model="getInternshipDetail.EndDate" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Project Link
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-ng-model="getInternshipDetail.ProjectLink" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Certificate Link
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-ng-model="getInternshipDetail.Link" required />
                </div>
            </div>
            <button id="btn-signup" class="btn btn-info" data-ng-click="insert()">Submit</button>
                   
         </form>
    </div>
</div>