
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


<nav class="navbar navbar-inverse" data-ng-controller="headerController">
    <div class="container-fluid">


        <!-- Brand and toggle get grouped for better mobile display -->
        <!--<div class="navbar-header">
          <a class="nav-btn btn-dark btn-lg accordion-toggle pull-left" title="Follow Us" role="tab" id="social-collapse" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></a>
            <a id="menu-toggle" href="#" class="nav-btn btn-dark btn-lg toggle">
                <i class="fa fa-bars" style="color:#fff;"></i>
            </a> 
        </div>-->



        <!-- Collect the nav links, forms, and other content for toggling -->

        <ul class="nav navbar-nav navbar-left">
            <a class="navbar-brand visible-xs" href="#"><i class="fa fa-thumb-tack fa-2x img-responsive" alt="Logo xs" aria-hidden="true"></i><strong> Primary Wall</strong></a>
            <a class="navbar-brand visible-sm" href="#"><i class="fa fa-thumb-tack fa-2x img-responsive" alt="Logo xs" aria-hidden="true"></i><strong> Primary Wall</strong></a>
            <a class="navbar-brand visible-md" href="#"><i class="fa fa-thumb-tack fa-2x img-responsive" alt="Logo xs" aria-hidden="true"></i><strong> Primary Wall</strong></a>
            <a class="navbar-brand visible-lg" href="#"><i class="fa fa-thumb-tack fa-2x img-responsive" alt="Logo xs" aria-hidden="true"></i><strong> Primary Wall</strong></a>
        </ul>
 
      <div data-ng-hide="show">
        <ul class="nav navbar-nav navbar-right collapse navbar-collapse js-navbar-collapse">
            <li><a href="#">Teachers</a></li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My account<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="">Action</a></li>
                    <li><a href="">Another action</a></li>
                    <li><a href="">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
       


        <ul class="nav navbar-nav navbar-right" data-ng-show="show">
            <form id="signin" class="navbar-form navbar-right" role="form">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="email" type="email" data-ng-model="loginData.Email" class="form-control" name="email" value="" placeholder="Email Address">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" data-ng-model="loginData.Password" class="form-control" name="password" value="" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-primary" data-ng-click="login()">Login</button>
            </form>
        </ul>


    </div><!-- /.container-fluid -->
</nav>


     <!--<aside id="accordion" class="social text-vertical-center">
			<div class="accordion-social">
				<ul class="panel-collapse collapse in nav nav-stacked" role="tabpanel" aria-labelledby="social-collapse" id="collapseOne">
					<li><a href="https://www.facebook.com/soldierupdesigns" target="_blank"><i class="fa fa-lg fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/soldierupdesign" target="_blank"><i class="fa fa-lg fa-twitter"></i></a></li>
					<li><a href="https://www.plus.google.com/+soldierupdesigns" target="_blank"><i class="fa fa-lg fa-google-plus"></i></a></li>
					<li><a href="https://github.com/blayderunner123" target="_blank"><i class="fa fa-lg fa-github"></i></a></li>
					<li><a href="https://linkedin.com/in/blayderunner123" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a></li>
					<li><a href="skype:live:soldierupdesigns?call"><i class="fa fa-lg fa-skype" target="_blank"></i></a></li>
					<li><a href="http://stackexchange.com/users/4992378/blayderunner123" target="_blank"><i class="fa fa-lg fa-stack-exchange"></i></a></li>
				</ul>
			</div>
		</aside>--> 

<script src="/scripts/mega-navbar.js"></script>